body{
	background-size: 100%;
	background-color: #BDBDBD;
	/*font-family: Arial,Helvetica, sans-serif;*/
}
header{
	background-color: #E44D26;
	color: white;
	text-align: center;
	padding: 5px;
	font-size: 40px;
	width: 100%;
}
nav{
	line-height: 30px;
	background-color: #006FBA;
	color: white;
	height: 600px;
	width: 200px;
	float: left;
	padding: 5px;
	font-size: 22px;
	text-decoration: none;
	margin: 20px;
	width: 20%;
}
nav a:hover{
	text-decoration: underline;
	cursor: pointer;
}
section {
    width: 75%; /* O ajusta según sea necesario */
    margin: 20px auto; /* Centra el <section> en la página */
    padding: 20px; /* Espaciado interno */
    color: black;
    text-align: justify;
    font-size: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Agrega sombra para un mejor efecto visual */
    background-color: #fff; /* Fondo blanco para destacar el contenido */
    border-radius: 8px; /* Bordes redondeados */
}
footer{
	background-color: dodgerblue;
	color: white;
	clear: both;
	text-align: center;
	padding: 5px;
	width: 100%;
}
img{
	display: block;
	margin: auto;
	clear: right;
}
a{
	text-decoration: none;
	color: white;
}
